<template>
  <div class="table">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>筛选查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container table-search">
      <div>
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-form-item label="公司名称" prop="name">
            <el-input v-model="searchform.name" placeholder="请输入公司名称" class="handle-input"></el-input>
          </el-form-item>
          <el-form-item label="创建时间">
            <el-form-item prop="startTime">
              <el-date-picker
                v-model="searchform.startTime"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="开始时间"
              ></el-date-picker>
            </el-form-item>
            <el-form-item prop="endTime">
              <el-date-picker
                v-model="searchform.endTime"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="结束时间"
              ></el-date-picker>
            </el-form-item>
          </el-form-item>
          <el-button type="primary" icon="search" @click="search">查询</el-button>
          <el-button type="primary" @click="searchReset('searchform')">重置</el-button>
        </el-form>
      </div>
    </div>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="container container-table">
      <div class="handle-box">
        <el-select v-model="limit" placeholder="显示条数" class="handle-select" @change="changeLimit">
          <el-option key="1" label="每页10条" value="10"></el-option>
          <el-option key="2" label="每页20条" value="20"></el-option>
          <el-option key="3" label="每页30条" value="30"></el-option>
        </el-select>
      </div>
      <el-table
        :data="tableData"
        border
        class="table"
      >
        <el-table-column prop="id" label="ID" width="100"></el-table-column>
        <el-table-column prop="name" label="公司名称" width="250"></el-table-column>
        <el-table-column prop="createTime" label="生成时间" sortable min-width="250"></el-table-column>
        <el-table-column prop="status" label="是否启用" width="150" align="center">
          <template slot-scope="scope">
            <el-switch
              :active-value="1"
              :inactive-value="0"
              v-model="scope.row.status"
              active-color="#13ce66"
              inactive-color="#ff4949"
              @change="changeStatus(scope.row)"
            ></el-switch>
          </template>
        </el-table-column>
        <el-table-column label="设备绑定" width="200" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-search"
              @click="handleCat(scope.$index, scope.row)"
            >查看</el-button>
            <el-button
              type="text"
              icon="el-icon-download"
              @click="handleExport(scope.$index, scope.row)"
            >导出</el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="200" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              icon="el-icon-edit"
              @click="handleEdit(scope.$index, scope.row)"
            >编辑</el-button>
            <el-button
              type="text"
              icon="el-icon-delete"
              class="red"
              @click="handleDel(scope.$index, scope.row)"
            >删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="total"
          :page-size="pageLimit"
          :current-page.sync="page"
        ></el-pagination>
      </div>
    </div>

    <!-- 查看设备 -->
    <el-dialog
      title="查看设备"
      :visible.sync="catVisible"
      width="60%"
      @close="colseCatXlh('searchXlhform')"
    >
      <div class="table">
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-search crumbs-i-right"></i>筛选查询
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="container table-search">
          <div class="handle-box-search">
            <el-form :model="searchXlhform" ref="searchXlhform" class="search-form" :inline="true">
              <el-form-item label="SN码" prop="sequenceNumber">
                <el-input
                  v-model="searchXlhform.sequenceNumber"
                  placeholder="请输入SN码"
                  class="handle-input"
                  @blur="searchXlh"
                ></el-input>
              </el-form-item>
              <el-button type="primary" icon="search" @click="searchXlh">查询</el-button>
              <el-button type="primary" @click="searchXlhReset('searchXlhform')">重置</el-button>
            </el-form>
          </div>
        </div>
        <div class="crumbs">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item>
              <i class="el-icon-lx-cascades crumbs-i-right"></i>数据列表
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div class="container">
          <div class="handle-box">
            <el-select
              v-model="limitXlh"
              placeholder="显示条数"
              class="handle-select"
              @change="changeLimitXlh"
            >
              <el-option key="1" label="每页10条" value="10"></el-option>
              <el-option key="2" label="每页20条" value="20"></el-option>
              <el-option key="3" label="每页30条" value="30"></el-option>
            </el-select>
          </div>
          <el-table :data="tableDataXlh" border height="245" class="table" ref="multipleTableXlh">
            <el-table-column prop="id" label="ID" width="100"></el-table-column>
            <el-table-column prop="name" label="型号" width="150"></el-table-column>
            <el-table-column prop="sequenceNumber" label="SN码" min-width="200"></el-table-column>
            <el-table-column prop="status" label="设备状态" width="100">
              <template slot-scope="scope">{{ scope.row.status === 0 ? '故障':'正常'}}</template>
            </el-table-column>
            <el-table-column prop="createTime" label="激活时间" width="200"></el-table-column>
          </el-table>
          <div class="pagination">
            <el-pagination
              background
              @current-change="handleCurrentChangeXlh"
              layout="prev, pager, next"
              :total="totalXlh"
              :page-size="pageLimitXlh"
              :current-page.sync="pageXlh"
            ></el-pagination>
          </div>
        </div>
      </div>
    </el-dialog>
    <!-- 编辑弹出框 -->
    <el-dialog title="编辑" :visible.sync="editVisible" width="30%">
      <el-form ref="editform" :model="editform" label-width="100px" :rules="editrules">
        <el-form-item label="公司名称" prop="name">
          <el-input v-model="editform.name" placeholder="请输入公司名称" class="handle-input"></el-input>
        </el-form-item>
        <el-form-item label="是否启用" prop="status" required>
          <el-radio v-model="editform.status" :label="1">是</el-radio>
          <el-radio v-model="editform.status" :label="0">否</el-radio>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('editform')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      tableDataXlh: [],
      totalXlh: 1,
      pageXlh: 1,
      limitXlh: "10",
      searchXlhform: {
        sequenceNumber: ""
      },
      searchXlhResult: {
        sequenceNumber: ""
      },
      tableData: [],
      total: 1,
      page: 1,
      limit: "10",
      searchform: {
        name: "",
        startTime: "",
        endTime: ""
      },
      searchResult: {
        name: "",
        startTime: "",
        endTime: ""
      },
      editVisible: false,
      editform: {
        status: 0,
        name: ""
      },
      editrules: {
        name: [{ required: true, message: "公司名称不能为空", trigger: "blur" }]
      },
      catVisible: false,
      delVisible: false,
      rowId: 0
    };
  },
  computed: {
    ...mapGetters(["adminId"]),
    pageLimit() {
      return parseInt(this.limit);
    },
    pageLimitXlh() {
      return parseInt(this.limitXlh);
    }
  },
  created() {
    if (this.adminId) {
      this.submitData();
    }
  },
  methods: {

    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    changeLimit() {
      //改变页数
      this.page = 1;
      this.submitData();
    },
    search() {
      //查询
      if (this.searchform.endTime &&  this.searchform.startTime) {
        let start = Date.parse(new Date(this.searchform.startTime));
        let end = Date.parse(new Date(this.searchform.endTime));
        if (start >= end) {
          this.$message({
            message: '结束时间必须大于开始时间',
            type: "error",
            duration: 1000
          });
          return 
        }
      }
      this.page = 1;
      this.searchResult = this.searchform;
      this.submitData();
    },
    searchReset (formName) {
      this.$refs[formName].resetFields();
      this.searchResult = this.searchform;
    },
    submitData() {
      this.axios
        .post("/company/CompanyList.do", {
          page: this.page,
          limit: this.limit,
          name: this.searchResult.name,
          startTime: this.searchResult.startTime,
          endTime: this.searchResult.endTime
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableData = result_data.data;
            this.total = result_data.count;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    colseCatXlh(formName) {
      this.$refs[formName].resetFields();
    },
    handleCat(index, row) {
      this.rowId = row.id;
      this.submitDataXlh();
    },
    // 分页导航
    handleCurrentChangeXlh(val) {
      this.pageXlh = val;
      this.submitDataXlh();
    },
    changeLimitXlh() {
      //改变页数
      this.pageXlh = 1;
      this.submitDataXlh();
    },
    searchXlh() {
      //查询
      this.pageXlh = 1;
      this.searchXlhResult = this.searchXlhform;
      this.submitDataXlh();
    },
    searchXlhReset (formName) {
      this.$refs[formName].resetFields();
      this.searchXlhResult = this.searchXlhform;
    },
    submitDataXlh() {
      this.axios
        .post("/company/CompanyEquipmentDetail.do", {
          id: this.rowId,
          page: this.pageXlh,
          limit: this.limitXlh,
          sequenceNumber: this.searchXlhResult.sequenceNumber
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.code) === 0) {
            this.tableDataXlh = result_data.data;
            this.totalXlh = result_data.count;
            this.catVisible = true;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleEdit(index, row) {
      //编辑
      this.editform.status = row.status;
      this.editform.name = row.name;
      this.rowId = row.id;
      this.editVisible = true;
    },
    saveEdit(formName) {
      // 保存编辑
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.axios
            .post("/company/ReplaceCompany.do", {
              id: this.rowId,
              status: this.editform.status,
              name: this.editform.name,
              adminId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                setTimeout(() => {
                  this.submitData();
                }, 50);
                this.editVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    changeStatus(row) {
      // 保存编辑
      this.axios
        .post("/company/UpdateStatus.do", {
          id: row.id,
          status: row.status,
          adminId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
          setTimeout(() => {
            this.submitData();
          }, 50);
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    },
    handleDel(index, row) {
      this.delVisible = true;
      this.rowId = row.id;
    },
    handleExport (index, row) {
      window.location.href = "/company/DownLoadSequenceNumber.do?id=" + row.id + '&_time=' + (new Date()).getTime();
    },
    deleteRow() {
      this.axios
        .post("/company/RemoveCompanyList.do", {
          id: this.rowId,
          adminId: this.adminId
        })
        .then(response => {
          let result_data = response.data;
          if (parseInt(result_data.status) === 1) {
            this.$message({
              message: result_data.msg,
              type: "success",
              duration: 1000
            });
            setTimeout(() => {
              this.submitData();
            }, 50);
            this.delVisible = false;
          } else {
            this.$message({
              message: result_data.msg,
              type: "error",
              duration: 1000
            });
          }
        })
        .catch(error => {
          this.$message({
            message: error.message,
            type: "error",
            duration: 1000
          });
        });
    }
  }
};
</script>

<style scoped>
.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.del-dialog-cnt {
  font-size: 16px;
  text-align: center;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.crumbs-i-right {
  margin-right: 10px;
}
.table-search {
  padding: 30px 30px 10px;
}
.container-table {
  min-height: 440px;
}
</style>
