<template>
  <div class="table">
    <el-row>
      <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: "dashboard",
  data() {
    return {
      
    };
  },
  components: {},
  computed: {
    
  },
  created() {},
  activated() {},
  deactivated() {},
  methods: {}
};
</script>


<style scoped>
.table {
  height: 800px;
  background: #fff;
}
</style>
