<template>
  <div class="header">
    <!-- 折叠按钮 -->
    <div class="collapse-btn" @click="collapseChage">
      <i class="el-icon-menu"></i>
    </div>
    <div class="logo">掌腾门禁管理系统</div>
    <div class="header-right">
      <div class="header-user-con">
        <!-- 全屏显示 -->
        <div class="btn-fullscreen" @click="handleFullScreen">
          <el-tooltip effect="dark" :content="fullscreen?`取消全屏`:`全屏`" placement="bottom">
            <i class="el-icon-rank"></i>
          </el-tooltip>
        </div>
        <!-- 用户头像 -->
        <div class="user-avator">
          <img src="~@/assets/images/img.jpg">
        </div>
        <!-- 用户名下拉菜单 -->
        <el-dropdown class="user-name" trigger="click" @command="handleCommand">
          <span class="el-dropdown-link">
            {{name}}
            <i class="el-icon-caret-bottom"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="editPassword">修改密码</el-dropdown-item>
            <el-dropdown-item divided command="shiftPassword" v-show="this.companyId">转移超管</el-dropdown-item>
            <el-dropdown-item divided command="loginout">退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <el-dialog title="修改密码" :visible.sync="dialogFormVisible" width="30%" @close="closeFormDialog('form')">
      <el-form :model="form" ref="form" label-width="100px" :rules="rules">
        <el-form-item label="登录账号" prop="phone">
          <el-input v-model="form.phone" placeholder="请输入登录账号" autocomplete="off" readonly :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="原密码" prop="oldpassWord">
          <el-input v-model="form.oldpassWord" type="password" placeholder="请输入原密码" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="newpassWord">
          <el-input v-model="form.newpassWord" type="password" placeholder="请输入新密码" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="renewpassWord">
          <el-input v-model="form.renewpassWord" type="password" placeholder="请输入确认密码" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveForm('form')">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="转移超管" :visible.sync="dialogCgVisible" width="30%" @close="closeFormDialog('cgform')">
      <el-form :model="cgform" ref="cgform" label-width="100px" :rules="cgrules">
        <el-form-item label="登录账号" prop="oldphone">
          <el-input v-model="cgform.oldphone" placeholder="请输入登录账号" autocomplete="off" readonly :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="转移账号" prop="phone">
          <el-input v-model="cgform.phone" placeholder="请输入转移者账号" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogCgVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveCgForm('cgform')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import bus from "../common/bus";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      collapse: false,
      fullscreen: false,
      dialogFormVisible: false,
      dialogCgVisible: false,
      form: {
        phone: '',
        oldpassWord: '',
        newpassWord: '',
        renewpassWord: ''
      },
      rules: {
        phone: [
          { required: true, message: "登录账号不能为空", trigger: "blur" }
        ],
        oldpassWord: [
          { required: true, message: "原密码不能为空", trigger: "blur" }
        ],
        newpassWord: [
          { required: true, message: "新密码不能为空", trigger: "change" }
        ],
        renewpassWord: [
          { required: true, message: "确实密码不能为空", trigger: "change" }
        ]
      },
      cgform: {
        phone: '',
        oldphone: ''
      },
      cgrules: {
        phone: [
          { required: true, message: "转移者账号不能为空", trigger: "blur" }
        ]
      }
    };
  },
  computed: {
    ...mapGetters([
      'adminId',
      'name',
      'companyId',
      'phone'
    ])
  },
  created () {
    this.form.phone = this.phone;
    this.cgform.oldphone = this.phone;
  },
  methods: {
    saveCgForm (formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const regPhone = /^1\d{10}$/;
          if (!regPhone.test(this.cgform.phone)) {
            this.$message({
              message: "手机号码无效",
              duration: 1000,
              type: "error"
            });
            return
          }
          this.axios
            .post('/userInfo/ChangeManage.do', {
              phone: this.cgform.phone,
              userId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                this.dialogCgVisible = false;
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    saveForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          let reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
          if (!reg.test(this.form.newpassWord)) {
            this.$message({
              message: "密码为6-12位数字和字母组合",
              duration: 1000,
              type: "error"
            });
            return
          }
          if (this.form.newpassWord !== this.form.renewpassWord) {
            this.$message({
              message: '新密码和确认密码不一致',
              type: "error",
              duration: 1000
            });
            return
          }
          this.axios
            .post('/sms/UpdateAdminPassWord.do', {
              phone: this.form.phone,
              oldpassWord: this.form.oldpassWord,
              newpassWord: this.form.newpassWord,
              adminId: this.adminId
            })
            .then(response => {
              let result_data = response.data;
              if (parseInt(result_data.status) === 1) {
                this.$message({
                  message: result_data.msg,
                  type: "success",
                  duration: 1000
                });
                this.dialogFormVisible = false;
                this.$router.push("/login");
              } else {
                this.$message({
                  message: result_data.msg,
                  type: "error",
                  duration: 1000
                });
              }
            })
            .catch(error => {
              this.$message({
                message: error.message,
                type: "error",
                duration: 1000
              });
            });
        }
      });
    },
    closeFormDialog (formName) {
      this.$refs[formName].resetFields();
    },
    // 用户名下拉菜单选择事件
    handleCommand(command) {
      if (command == "loginout") {
        this.axios.post('/admin/LoginOut.do',{})
          .then((response) => {
            let result_data = response.data
            if (parseInt(result_data.status) === 1) {
              window.sessionStorage.removeItem("ztmjadmin");
            }
          })
          .catch((error) => {
            console.log(error.message)
          })
        this.$router.push("/login");
      } else if (command == "editPassword") {
        this.dialogFormVisible = true;
      } else if (command == "shiftPassword") {
        this.dialogCgVisible = true;
      }
    },
    // 侧边栏折叠
    collapseChage() {
      this.$store.commit('iscollapse')
    },
    // 全屏事件
    handleFullScreen() {
      let element = document.documentElement;
      if (this.fullscreen) {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.webkitCancelFullScreen) {
          document.webkitCancelFullScreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.msExitFullscreen) {
          document.msExitFullscreen();
        }
      } else {
        if (element.requestFullscreen) {
          element.requestFullscreen();
        } else if (element.webkitRequestFullScreen) {
          element.webkitRequestFullScreen();
        } else if (element.mozRequestFullScreen) {
          element.mozRequestFullScreen();
        } else if (element.msRequestFullscreen) {
          // IE11
          element.msRequestFullscreen();
        }
      }
      this.fullscreen = !this.fullscreen;
    }
  },
  mounted() {
    if (document.body.clientWidth < 1500) {
      this.collapseChage();
    }
  }
};
</script>
<style scoped>
.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  font-size: 22px;
  color: #fff;
}
.collapse-btn {
  float: left;
  padding: 0 21px;
  cursor: pointer;
  line-height: 70px;
}
.header .logo {
  float: left;
  width: 400px;
  line-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header-right {
  float: right;
  padding-right: 50px;
}
.header-user-con {
  display: flex;
  height: 70px;
  align-items: center;
}
.btn-fullscreen {
  transform: rotate(45deg);
  margin-right: 5px;
  font-size: 24px;
}
.btn-bell,
.btn-fullscreen {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.btn-bell-badge {
  position: absolute;
  right: 0;
  top: -2px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #f56c6c;
  color: #fff;
}
.btn-bell .el-icon-bell {
  color: #fff;
}
.user-name {
  margin-left: 10px;
}
.user-avator {
  margin-left: 20px;
}
.user-avator img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.el-dropdown-link {
  color: #fff;
  cursor: pointer;
}
.el-dropdown-menu__item {
  text-align: center;
}
</style>
